<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SourceCode" value=".vb,.cs,.java,.h,.c,.php,.js,.cpp,.htm,.html,.css,.xml,.xsd,.config,.json"/>
    <add key="ExtExclude" value=".zip,.rar,.dll,.exe,.pdb,.png,.jpg,.bmp,.gif,.msi,.iso,.mdb,.mdf,.ldf,.log,.cab,.msm,.rpt,.scc,.pj,.user,.suo"/>
    <add key="ExtInclude" value=""/><!-- if ExtInclude has value, use only this to filter -->
    <add key="FolderExclude" value=".svn,bin,obj"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
